@import '../../../styles/settings.scss';

.root {
  padding: 20px;
  text-align: center;
}

.button {
  margin: $universal-margin;
}

.table, .photo {
  margin: $universal-margin;
  width: 30%;
}

.content_wrapper {
  width: 80%;
  margin: 0 auto;

  .content {
    word-wrap: break-word;
  }


}
