@import '../../../styles/settings.scss';

.root {
  padding: 20px;
  text-align: center;
}

.button {
  margin: 10px auto;
}

.table {
  margin: 10px auto;
  width: 30%;
}

.photo {
  margin: 10px auto;
  width: 30%;
}
