@import '../../../styles/settings.scss';

.root {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  text-align: center;
}

.title {
  flex: 100%;
  margin: $universal-margin;
}
.link {
  color: #ffffff;
}

.link_title {
  color: #ffffff;
  text-decoration: none;
}

select {
  flex: 100%;
}

nav {
  flex: 100%;
}


