@import '../../../styles/settings.scss';

.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.formFieldFullWidth {
  margin: 10px 0;
}

.formFieldPartialWidth {
  @extend .formFieldFullWidth;
  width: 30%;
}

.button {
  margin: $universal-margin;
}

