@import '../../../styles/settings.scss';

.root {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  text-align: center;
}

.header_item {
  flex: 100%;
}

.title {
  @extend .header_item;
  margin: $universal-margin;
}
.link {
  color: #ffffff;
  text-decoration: none;
}

nav {
  @extend .header_item;
  padding: 5px;
}


